default_install_hook_types: [commit-msg, pre-commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
        args:
          - --unsafe
      - id: check-symlinks
      - id: detect-aws-credentials
        args:
        - --allow-missing-credentials
      - id: check-added-large-files
      - id: detect-private-key

- repo: https://github.com/antonbabenko/pre-commit-terraform.git
  rev: v1.96.1
  hooks:
    - id: terraform_fmt
    - id: terraform_providers_lock
      args:
        - --args=-platform=linux_amd64
        - --args=-platform=darwin_amd64
        - --args=-platform=darwin_arm64
    - id: terraform_tflint
      args:
        - --args=--recursive
    - id: terraform_trivy
      args:
        - --args=--severity HIGH,CRITICAL
        - --args=--skip-dirs '**/.terraform'

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v3.5.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

- repo: https://github.com/terraform-docs/terraform-docs
  rev: "v0.19.0"
  hooks:
    - id: terraform-docs-go
